.Rhistory
.Rapp.history
*.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md

drafts/HopperzBib.bib.bak
drafts/HopperzBib.bib.sav

drafts/NicksHopperzPaper.tex
drafts/NicksHopperzPaper.pdf
drafts/NicksHopperzPaper.spl
drafts/NicksHopperzPaperELS.Rmd
drafts/elsarticle.cls
drafts/oecologia.csl
drafts/rem.csl
drafts/*.aux
drafts/TeXstras.tex
drafts/FromNick.docx
drafts/FromNick.md


